version: "3"

services:
    elasticsearch:
        restart: always
        image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
        environment:
            - "discovery.type=single-node"
        ports:
            - 9200:9200

    kibana:
        restart: always
        depends_on:
            - elasticsearch
        image: docker.elastic.co/kibana/kibana:7.7.0
        ports:
            - 5601:5601

    node:
        image: node:14
        user: node
        tty: true
        working_dir: /home/node
        entrypoint: node
        volumes:
            - .:/home/node

    yarn:
        image: node:14
        user: node
        tty: true
        working_dir: /home/node
        entrypoint: yarn
        volumes:
            - .:/home/node
